*{
    margin: 0px;
    padding: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.outside-box{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.list-menu{
    width: 20%;
    height: 90%;
    background-color: #101012
}
.left-item-container{
    width: 80%;
    height: 90%;
    background-color: blueviolet;
    flex-wrap: wrap;
}
.top-bar{
    width: 100%;
    height: 10%;
    background-color: #101012;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    align-items: center;
}
.top-bar-back-button{
    width: 3%;
    height: 50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-bar-text-container{
    margin-left: 45%;
}
.top-bar-text-input{
    border:0px;
    background-color: #101012;
    color:white
}
.top-bar-notrification{
 margin-left: 20%;
}
.information-screen{
    width: 100%;
    height: 45%;
    background-color: aqua;
}
.music-list-box{
    width: 100%;
    height: 45%;
    background-color: brown;
}
.bottom-box-music-player{
    width: 100%;
    height: 10%;
background-color: cornflowerblue;
}





/*font awsome icons*/

.magnifying-glass-color{
    color:gray
}
.bell-color{
    color:gray
}